<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MailSense</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav class="fixed top-0 w-[100%] bg-blue-600">
        <h1 class="font-semibold text-center text-2xl text-white py-2">MailSense</h1>
    </nav>

    <div class="flex flex-col justify-center items-center min-h-screen">
        <h1 class="font-semibold text-3xl mb-6">Spam or Ham?</h1>
        
        <form method="POST">
            <input 
                name="message" 
                placeholder="Enter mail message here"
                class="bg-gray-100 w-[280px] h-[70px] p-2 rounded-lg "
            >
                {{ input }}
        </input>
            <br/>
            <br/>
            <button 
                type="submit"
                class="bg-blue-600 text-white px-6 py-1.5 rounded-lg font-semibold"
            >
                Classify
            </button>
        </form>
        
        {% if result %}
            <h2>Result: {{ result }}</h2>
            <p><strong>Message:</strong> {{ input }}</p>
        {% endif %}
    </div>
</body>
</html>
